name: Build and Deploy Dash
on:
  schedule:
    - cron: '*/30 * * * *'
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: pip install -r requirements.txt
      - name: Generate Dashboard
        run: python update_dashboard.py ${{ secrets.ACCESS_TOKEN }} config/tracked_workflows.yaml html/index.html
      - name: Upload Dashboard Artifact
        uses: actions/upload-artifact@v4
        with:
            name: dashboard
            path: html/index.html
            retention-days: 30
    #   - name: Configure AWS
    #     uses: aws-actions/configure-aws-credentials@v4
    #     with:
    #       aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
    #       aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    #       aws-region: us-east-1
    #   - name: Deploy to S3
    #     run: aws s3 cp index.html s3://${{ secrets.AWS_BUCKET_NAME }}/index.html
    #   - name: Invalidate CloudFront
    #     run: aws cloudfront create-invalidation --distribution-id ${{ secrets.CLOUDFRONT_DIST_ID }} --paths "/*"