# Run this to update the html dashboards. Will run automatically as well.

name: Update dashboard html
on:
  workflow_dispatch:
  
jobs:
  run_update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python 3.10
        uses: actions/setup-python@v6
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: |
          sudo apt-get update
          python -m pip install --upgrade pip
          pip install .
      - name: Update HTML
        run: |
          python update_dashboard.py ${{ secrets.GITHUB_TOKEN }} config/tracked_workflows.yaml html/index.html
          python src/lf_workflow_dash/lsdb_interrupts/external_issues.py ${{ secrets.GITHUB_TOKEN }} html/lsdb_issues.html
          python src/lf_workflow_dash/lsdb_interrupts/open_prs.py ${{ secrets.GITHUB_TOKEN }}
      - name: Deploy to Github pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: html
          git-config-name: deploy-bot
          git-config-email: <>
